<div>
<img class="img-profile" src="{{user.imgPath}}" alt="">
</div>
<div id="profile-text">
<p>Nombre del grupo<br><span class="profile-textName">{{user.username}}</span></p>
<p>Ciudad<br><span class="profile-textLocation">{{user.localization}}</span></p>
<p>Estilo<br><span class="profile-textStyle">{{user.style}}</span></p>
<p>Descripción<br><span class="profile-other">{{user.description}}</span></p>

<p>Price<br><span class="profile-other">{{user.price}}</span></p>
<p>Discography<br><span class="profile-other">{{user.discography}}</span></p>
<p>Rider<br><span class="profile-other">{{user.rider}}</span></p>

<p>Contact<br><span class="profile-other">{{user.contact}}</span></p>



</div>

<div class="left-content">
<h3>¿Dónde te encuentras?</h3>
<div id='map'>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css' type='text/css' />
</div>
</div>

<script>
var bandID = "{{user.id}}"
</script>

<div>
<a href="/auth/profile-band/{{user.id}}">Edit profile</a>
<form action="/auth/profile-band/{{user.id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
<a href="/logout">Logout</a>
</div>

<script src="/javascripts/script.js"></script>

