<h2>Profile</h2>
<p>Img: {{user.img}}</p>
<p>Name: {{user.username}}</p>
<p>Contact: {{user.contact}}</p>
<p>Style of music: {{user.style}}</p>
<p>Description: {{user.description}}</p>
<p>Price: {{user.price}}</p>
<p>Localization: {{user.localization}}</p>
<p>Discography: {{user.discography}} </p>
<p>Rider: {{user.rider}}</p>

<a href="/auth/profile-band/{{user.id}}">Edit profile</a>
<a href="/logout">Logout</a>